body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Անջատում է սքրոլը */
    
    /* Սա կլինի վերևի դատարկ տարածքի գույնը (սենյակի պատը) */
    background-color: #050505; 
    
    position: fixed; /* Կարևոր է mobile-ի համար */
}

canvas {
    display: block;
    
    /* Ջրի էֆեկտը */
    background: linear-gradient(#1e90ff, #000b1a); 
    
    /* Ավելացրու այս տողը, որ ջրի երեսին թեթև լուսավոր գիծ լինի */
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    
    touch-action: none; /* Անջատում է բրաուզերի ժեստերը */
}
